<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="markdown made easy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mdPad - markdown made easy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="author" href="https://github.com/joeSaad">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body class="container-fluid">
    <div class="content">
        <div class="row">
            <div id="toolbar" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="/" class="logo">
                <img src="../images/logo.png" />
                <!--mdPad-->
                </a>
<div class="toolbar-wrapper">
    <select name="headers" id="headers" title="Heading">
        <option value="0">Headers</option>
        <option value="1">Header 1</option>
        <option value="2">Header 2</option>
        <option value="3">Header 3</option>
        <option value="4">Header 4</option>
        <option value="5">Header 5</option>
        <option value="6">Header 6</option>
    </select>
    <button type="button" class="bold" id="v-bold" title="Strong">B</button>
    <button type="button" class="italics italics-set" id="v-italics" title="Emphasis">I</button>
    <button type="button" class="strike-through" id="v-strikeThrough" title="Strikethrough">S</button>
    <button type="button" class="code bold" id="v-code" title="Code Sample">{}</button>
    <button type="button" class="coder" id="v-coder" title="Code Snippet"> <i class="fa fa-file-code-o"></i> </button>
    <button type="button" class="image" id="v-image" title="Image"><i class="fa fa-picture-o" title="Image"></i></button>
    <button type="button" class="image" id="v-link" title="Hyperlink"><i class="fa fa-link"></i> </button>
    <button type="button" class="image" id="v-unorderedList" title="Bulleted List"> <i class="fa fa-list-ul"></i> </button>
    <button type="button" class="image" id="v-orderedList" title="Numbered List"> <i class="fa fa-list-ol"></i> </button>
    <button type="button" class="image" id="v-tasklist" title="Check List"> <i class="fa fa-check-square-o"></i> </button>
    <button type="button" class="image" id="v-bq" title="Blockquote"> <i class="fa fa-quote-left"></i> </button>
    <button type="button" class="image" id="v-table" title="Table"> <i class="fa fa-table"></i> </button>
    <button type="button" class="image" id="v-row" title="Table row"> <i class="fa fa-align-justify"></i> </button>
    <button type="button" class="image" id="v-hr-link" title="Horizontal Rule"> hr </button>
    <div class="pull-right">
        <button type="button" class="image"  id="v-save" title="Save to Disk"> <i class="fa fa-floppy-o"></i> </button>
        <button type="button" class="image" id="v-undo" title="Undo"> <i class="fa fa-undo"></i> </button>
        <button type="button" class="image" id="v-redo" title="Redo"> <i class="fa fa-repeat"></i> </button>
    </div>
</div>
            </div>
        </div>
        <section class="row">
            <textarea class="col-lg-6 col-md-6 col-sm-6 col-xs-12 main-height" id="pad">#Markdown Friendly Way</textarea>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 main-height" id="markdown"></div>
        </section>
    </div>
    <footer class="footer row">
        &copy; 2017+ <a href="http://joesaad.net">Joe Saad</a> <a href="https://github.com/joeSaad/mdpad"><i class="fa fa-github"></i></a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="javascripts/script.js"></script>
</body>

</html>