html, body, section, .full-height {
    height: 100%;
} 


#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
}

.paddedTop{
    padding-top: 50px;
}

#toolbar{
    background: #6f5b5b;
    padding: 10px;
    position: fixed;
    width: 50%;
    font-family: sans-serif;
}

select{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}
.italics{
    font-style: italic;
}
.strike-through{
    text-decoration: line-through;
}


table, tr, th, td {
    border: 1px solid #ccc;
}

table{
    width: 100%;
}

th,td{
    padding: 4px;
}