html, body, section {
    height: 100%;
} 

.main-height{
    height: 100%;
}

.content{
    height: calc(100% - 25px);
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 20px;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
}

.paddedTop{
    padding-top: 50px;
}

#toolbar{
    background: #334e56;
    padding: 10px;
    position: fixed;
    width: 50%;
    font-family: sans-serif;
}

a.logo{
    float: left;
    margin-right: 5px;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

a.logo img{
    vertical-align: top;
}


.toolbar-wrapper {
    background: #fff;
    padding: 3px 3px 3px 7px;
    border-radius: 3px;
    float: left;
}
select{
    font-weight: bold;
}
button {
    padding: 5px;
    margin: -2px;
    width: 2em;
    border: 0;
    background: #fff;
}

.bold{
    font-weight: bold;
}
.italics{
    font-style: italic;
}
.italics-set{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.01em;
}
.strike-through{
    text-decoration: line-through;
}


table, tr, th, td {
    border: 1px solid #ccc;
}

table{
    width: 100%;
}

th,td{
    padding: 4px;
}

.footer {
    background: #e5e5ec;
 /*   clear: both;*/
    padding: 5px 15px;
    font-size: 0.8em;
    height: 25px;
}